In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [35]:
df = pd.read_csv('savingprobs.csv', names = ['t','winner'])
drop = df.loc[df['t'] == 'game'].index
df = df.drop(drop)
df = df.drop('t', axis = 1)
new_i = np.arange(df.shape[0])
df = df.set_index(new_i)

df

   winner
0       0
1       1
2      -1
3       1
4      -1
5      -1
6      -1
7       0
8       1
9       1

In [39]:
df2 = pd.read_csv('acts.csv', names = ['t','action'])
df2 = df2.drop('t', axis = 1)

df2

                        action
0     (<Action.MOVE: 2>, 1, 0)
1    (<Action.MOVE: 2>, -1, 0)
2     (<Action.MOVE: 2>, 1, 0)
3    (<Action.MOVE: 2>, -1, 0)
4     (<Action.MOVE: 2>, 1, 0)
..                         ...
119   (<Action.MOVE: 2>, 1, 0)
120  (<Action.MOVE: 2>, -1, 0)
121   (<Action.MOVE: 2>, 1, 0)
122   (<Action.MOVE: 2>, 0, 1)
123  (<Action.MOVE: 2>, -1, 0)

[124 rows x 1 columns]

In [44]:
df3 = pd.read_csv('om.csv', names = ['t','action','p'])
df3 = df3.drop('t', axis = 1)
df3 = df3.fillna(0)
df3

                       action    p
0                           0 -1.0
1                           0 -1.0
2                           0 -1.0
3                           0 -1.0
4                           0 -1.0
..                        ...  ...
119                         0 -1.0
120                         0 -1.0
121                         0 -1.0
122  (<Action.MOVE: 2>, 0, 1)  1.0
123                         0 -1.0

[124 rows x 2 columns]

In [55]:
df2['action'].isin(df3['action']).value_counts()

False    117
True       7
Name: action, dtype: int64